doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Mizuxe Book Theme
  
  body
    
    nav.navbar.navbar-expand-md.navbar-light.fixed-top.py-4
      .container
        a.navbar-brand(href="#home")
          img.mr-2(src=require("./images/mlogo.png"), width="50", height="50")
          h3.d-inline.align-middle Mizuxe
        button.navbar-toggler(data-target="#navbarCollapse" data-toggle="collapse")
          span.navbar-toggler-icon
        #navbarCollapse.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            for name in ["home", "about", "authors", "contact"]
              - const Name = require("./utils/upperName.js");
              li.nav-item
                a.nav-link(href=`#${name}`)= Name(name) 

    section.Showcase.py-5
      .overlay.text-white
        .container.h-100
          .row.h-100.align-items-center
            .col-lg-6.text-center
              h1.display-3 Do What You Dream Of...
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi, recusandae!
              a.btn.btn-outline-secondary.btn-lg.text-white(href="#")
                i.fas.fa-arrow-right.mr-2
                | Read More 
            .col-lg-6.d-none.d-lg-block
              img.img-fluid(src=require("./images/book.png"))

    section.Newsletter.bg-dark.text-white.py-5
      .container
        .row
          .col-md-4
            input.form-control.form-control-lg.mb-sm-3(type="text" placeholder="Enter Name")
          .col-md-4
            input.form-control.form-control-lg.mb-sm-3(type="email" placeholder="Enter Email")
          .col-md-4
            button.btn.btn-primary.btn-lg.btn-block
              i.fas.fa-envelope-open-o
              | Subscribe
    
    section.Boxes.py-5
      .container
        .row
          - var headings = ["Be Better", "Be Smarter", "Be Faster", "Be Stronger"];
          for text, index in headings
            .col-md-3
              .card.text-center(class=`${index % 2 == 0 ? "border-primary" : "bg-primary text-white"} ${index == headings.length -1 ? "" : "mb-sm-3"}`)
                .card-body
                  h3(class=`${index % 2 == 0 ? "text-primary" : ""}`) #{text}
                  p(class=`${index % 2 == 0 ? "text-muted" : ""}`) Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, optio!

    section.About.py-5.text-center.bg-light
      .container
        .row
          .col
            .info-header.mb-5.w-50.mx-auto.border-bottom
              h1.text-primary.pb-3 Why This Book?
              p.lead.pb-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, repellat consequuntur harum dolorem cupiditate magnam!
            #accordion
              for value, index in ["Get Inspired", "Gain The Knowledge", "Open Your Mind"]
                .card
                  .card-header
                    h5.mb-0
                      div(data-parent="#accordion" data-toggle="collapse" href=`#collapse${index}`)
                        i.fas.fa-arrow-alt-circle-down.mr-2
                        | #{value}
                  div.collapse(class=`${index == 0 ? "show" : ""}`, id=`collapse${index}`)
                    .card-body Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit accusamus totam ipsam saepe molestiae necessitatibus sapiente ea placeat, perspiciatis mollitia, hic cumque numquam rem at eligendi quod magnam, quidem recusandae expedita impedit enim eius assumenda ab! Doloribus accusamus, non nam ullam aut, pariatur est provident temporibus molestias fugit culpa debitis.
    
                        
